<div class="wrapper wrapper-content  animated fadeInRight">

<div class="row">
    <div class="col-md-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Google Maps Basic example</h5>
            </div>
            <div class="ibox-content">
                <p>
                    <small>Descripción del mapa</small>  

                </p>
                <div class="google-map" id="map"></div>
                <div id="gmap" style="width: 100px height: 100px"></div>
            </div>
        </div>
    </div>
<div class="col-md-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Localizacion</h5>
            </div>
            <div class="ibox-content">
              <div id="wrapper">
                  <div id="punto">
                  </div>

              </div>
        </div>
    </div>
</div>

<div class="col-md-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Custom theme 1</h5>
            </div>
            <div class="ibox-content">
              <div id="wrapper">
                  <div id="location"></div>
                  <div id="scale">
                  </div>
              <div id="nodelist">
                  <em>Click on the map to get feature info</em>
              </div>

              </div>
        </div>
    </div>
</div>
</div>

<%= javascript_include_tag 'http://maps.google.com/maps/api/js?v=3.5&sensor=false' %>

<% content_for :javascript do %>


<script type="text/javascript">
$(function() {

  format = 'image/png';
  // OpenLayers.ProxyHost="/cgi-bin/proxy.cgi?url=";
  map = new OpenLayers.Map({
    div: "map",
    maxExtent: new OpenLayers.Bounds(
    -20037508, -20037508, 20037508, 20037508.34
    )
  });

// Adiciona los controles para dibujar poligonos
  var vector_layer= new OpenLayers.Layer.Vector("Editable");
  var edit_panel= new OpenLayers.Control.EditingToolbar(vector_layer);
  var modify_feature_ctrl= new OpenLayers.Control.ModifyFeature(vector_layer,{
      title:"Modify Feacture",
      displayClass:"olControlModifyFeature"
  });
  edit_panel.addControls(modify_feature_ctrl);
   var physical = new OpenLayers.Layer.Google(
   "Google Physical",
   {type: google.maps.MapTypeId.TERRAIN}
   );
   var streets = new OpenLayers.Layer.Google(
   "Google Streets"
   );
   var hybrid = new OpenLayers.Layer.Google(
   "Google Hybrid",
   {type: google.maps.MapTypeId.HYBRID}
   );
   var satellite = new OpenLayers.Layer.Google(
   "Google Satellite",
   {type: google.maps.MapTypeId.SATELLITE}
   );

var wmsOverlay = new OpenLayers.Layer.WMS( "Mallorquin WMS",
     "http://192.168.3.31:8080/geoserver/cra/wms",
     {layers: 'cra:mallorquin'},{isBaseLayer:false},{transparent:true});

 wmsOverlay.setOpacity(0.5);

 // Trae las caracteristicas del mapa
    var info= new OpenLayers.Control.WMSGetFeatureInfo({
        url:"http://192.168.3.31:8080/geoserver/cra/wms",
        title:"Caracteristicas",
        queryVisible:true,
        eventListeners:{
            getfeatureinfo:function(event){
//                if (popup==undefined){
//                    map.removePopup(popup);
//                }
                popup= new OpenLayers.Popup.FramedCloud(
                    "Chicken",
                    map.getLonLatFromPixel(event.xy),
                    new OpenLayers.Size(50,50),
                    event.text,
                    null,true);
                map.addPopup(popup);
            }
        }
    });

map.addLayers([physical, streets, hybrid, satellite, wmsOverlay]);
     
     map.addControl(info);
     info.activate();
     map.addControl(new OpenLayers.Control.LayerSwitcher());
     map.addControl(new OpenLayers.Control.MousePosition({div: document.getElementById('punto')}));
     map.addControl(new OpenLayers.Control.Scale());
     
     map.addControl(edit_panel);
     var center = new OpenLayers.LonLat(-75, 10.95).transform(
     new OpenLayers.Projection("EPSG:4326"),
     map.getProjectionObject()
     )
     map.setCenter(center, 11);
    map.events.register("mousemove", map, function (e) {
        var position = this.events.getMousePosition(e);
    //    var position = e.map.getLonLatFromViewPortPx(e.xy);
    //    var position=e.map.getLonLatFromPixel(e.xy);
//        OpenLayers.Util.getElement("location").innerHTML = position;
    });



    // support GetFeatureInfo
                    map.events.register('click', map, function (e) {
                        document.getElementById('nodelist').innerHTML = "Loading... please wait...";
                        var params = {
                            REQUEST: "GetFeatureInfo",
                            EXCEPTIONS: "application/vnd.ogc.se_xml",
                            BBOX: map.getExtent().toBBOX(),
                            SERVICE: "WMS",
                            INFO_FORMAT: 'text/html',
                            QUERY_LAYERS: map.layers[4].params.LAYERS,
                            FEATURE_COUNT: 50,
                            Layers: 'cite:Mallorquin',
                            WIDTH: map.size.w,
                            HEIGHT: map.size.h,
                            format: format,
                            styles: map.layers[4].params.STYLES,
                            srs: map.layers[4].params.SRS};
                        
                        // handle the wms 1.3 vs wms 1.1 madness
                        if(map.layers[4].params.VERSION == "1.3.0") {
                            params.version = "1.3.0";
                            params.j = parseInt(e.xy.x);
                            params.i = parseInt(e.xy.y);
                        } else {
                            params.version = "1.1.1";
                            params.x = parseInt(e.xy.x);
                            params.y = parseInt(e.xy.y);
                        }
                            
                        // merge filters
                        if(map.layers[4].params.CQL_FILTER != null) {
                            params.cql_filter = map.layers[4].params.CQL_FILTER;
                        } 
                        if(map.layers[4].params.FILTER != null) {
                            params.filter = map.layers[4].params.FILTER;
                          }
                        if(map.layers[4].params.FEATUREID) {
                            params.featureid = map.layers[4].params.FEATUREID;
                        }
                        var resp=OpenLayers.Request.GET({
          url:"http://192.168.3.31:8080/geoserver/cra/wms", 
          params:params,
          callback: setHTML});
                        OpenLayers.Event.stop(e);
                    });

});
</script>

<% end %>
